* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Background image*/

body {
   background-color: black;
}

header {

    background-color: blue;
    box-shadow: 7px 10px 60px rgba(0, 0, 0, 0.9);
}

header nav {

    display: flex;
    margin: 10px;

}

header nav ul { 

    display: flex;
}

/*spasing bar to navigations*/
header nav ul li {
    margin: 10px;
}

header nav ul li a {
    color: #ffff;
    text-decoration: none; 
}

header nav ul li a:hover { 
    border-bottom: 3px solid #ffff;
    transform: 3px;
}

