* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {

    background-color: black;
    box-shadow: 7px 10px 60px rgba(0, 0, 0, 0.9);
}

header nav {

    display: flex;
    margin: 10px;

}

header nav ul { 

    display: flex;
}

/*spasing bar to navigations*/
header nav ul li {
    margin: 10px;
}

header nav ul li a {
    color: #ffff;
    text-decoration: none; 
}


header nav ul li a:hover {
    border-bottom: solid 2px #fff;    
    transition: 2s;
}

